body {
    font-family: 'Poppins', sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 200vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}