.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.div1 {
    min-width: 600px;
    padding: 10px;
    box-sizing: border-box;
    float: left;
}

.div2 {
    padding: 10px;
    box-sizing: border-box;
    float: right;
}